<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week1</title>
  <!-- 引入 Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    
    body {
      font-family: Arial, sans-serif;
    }

    img {
      object-fit: contain;
      max-width: 100%;
    }

    .primary-image {
      height: 300px;
      object-fit: contain;
    }

    .images {
      height: 150px;
      max-width: 100%;
    }

    .card-title {
      color: blue;
      text-align: center;
    }

    .btn-primary {
      background-color: green;
      border-color: green;
    }

    .card-text {
      font-size: 14px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="row py-3">
        <!-- 父親節蛋糕 -->
        <div class="col-12 col-md-8">
          <h2>父親節 預售蛋糕列表</h2>
          <table class="table table-hover">
            <thead>
              <tr>
                <th width="150">商品名稱</th>
                <th width="120">原價</th>
                <th width="120">優惠價</th>
                <th width="150">是否有貨</th>
                <th width="120">MORE</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in products" :key="index">
                <td width="150" v-text="item.title"></td>
                <td width="120" v-text="item.Oldprice"></td>
                <td width="120" v-text="item.Newprice"></td>
                <td width="150">
                  <span :class="{ 'text-success': item.pstatus }">
                    {{ item.pstatus ? '還有庫存' : '缺貨' }}
                  </span>
                </td>
                <td width="120">
                  <!-- 使用 @click 綁定點擊事件 -->
                  <button type="button" class="btn btn-primary" @click="tempProduct = item">看更多</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>共有 <span v-text="products.length"></span> 品項</p>
        </div>
        <!-- 商品資訊 -->
        <div class="col-12 col-md-4">
          <h2>商品資訊</h2>
          <div v-if="tempProduct.title">
            <div class="card mb-3">
              <!-- 圖片懶加載 -->
              <img :src="tempProduct.imageUrl" class="card-img-top primary-image" alt="主圖" loading="lazy">
              <div class="card-body">
                <h5 class="card-title">
                  <!-- 類別標籤 -->
                  <span class="badge bg-primary ms-2" v-text="tempProduct.category"></span>

                </h5>
                <h3 class="card-title">
                  <!-- 商品名稱 -->
                  <span v-text="tempProduct.title"></span>
                </h3>
                <p class="card-text">商品描述：<span v-text="tempProduct.description"></span></p>
                <p class="card-text">商品內容：尺寸<span v-text="tempProduct.content"></span></p>
                <div class="d-flex">
                  <p class="card-text me-2" v-text="tempProduct.Newprice" style="color: red;"></p>
                  <p class="card-text text-secondary"><del v-text="tempProduct.Oldprice"></del></p>
                  <span v-text="tempProduct.unit"></span> / 個
                </div>
              </div>
            </div>
            <!-- 顯示產品圖片 -->
            <span v-for="(image, id) in tempProduct.imageUrlS" :key="id">
              <img v-if="image" :src="image" class="images m-2" loading="lazy">
            </span>
          </div>
          <p v-else class="text-secondary">看更多有更多資訊</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 引入 Bootstrap JS 和 Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="./index.js" type="module"></script>
</body>

</html>