<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Wearymask | My orders</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Wearymask - Bootstrap E-commerce Template" />
    <meta name="keywords"
        content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap, html5, css3, js, gallery, slider, touch, creative, clean" />
    <meta name="author" content="Wearymask Studio" />
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png" />
    <link rel="manifest" href="../site.webmanifest" />
    <link rel="mask-icon" color="#fe6a6a" href="../safari-pinned-tab.svg" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link rel="stylesheet" media="screen" href="../vendor/simplebar/dist/simplebar.min.css" />
    <link rel="stylesheet" media="screen" href="../vendor/tiny-slider/dist/tiny-slider.css" />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="../css/theme.min.css" />
</head>
<!-- Body-->

<body class="handheld-toolbar-enabled">
    <div id="app">
        <!-- Sign in / sign up modal-->
        <main class="page-wrapper">
            <!-- Navbar 3 Level (Light)-->
            <header class="shadow-sm">
                <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
                <div class="navbar-sticky bg-light">
                    <div class="navbar navbar-expand-lg navbar-light">
                        <div class="container">
                            <a class="navbar-brand d-none d-sm-block flex-shrink-0" href="../index.html"><img
                                    src="../img/logo-dark.png" width="142" alt="Wearymask" /></a>
                            <a class="navbar-brand d-sm-none flex-shrink-0 me-2" href="../index.html"><img
                                    src="../img/logo-icon.png" width="74" alt="Wearymask" /></a>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Page Title-->
            <div class="page-title-overlap bg-dark pt-4">
                <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
                    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                        <nav aria-label="breadcrumb">
                            <ol
                                class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                                <li class="breadcrumb-item">
                                    <a class="text-nowrap" href="../index.html"><i class="ci-home"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item text-nowrap">
                                    <a href="#">Account</a>
                                </li>
                                <li class="breadcrumb-item text-nowrap active" aria-current="page">
                                    Products history
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
                        <h1 class="h3 text-light mb-0">My Products</h1>
                    </div>
                </div>
            </div>

            <!-- 新增或編輯產品資料 -->
            <div id="addPM" ref="addPM" class="modal fade" tabindex="-1" aria-labelledby="addPMLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                <span v-if="isNew">Add new Products</span>
                                <span v-else>Editor Products</span>
                            </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row gx-4 gy-3">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input id="is_enabled" v-model="tempProduct.is_enabled" class="form-check-input"
                                            type="checkbox" :true-value="1" :false-value="0" />
                                        <label class="form-check-label" for="is_enabled">Enabled</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="form-label" for="unp-product-name">Product name</label>
                                    <!-- <input class="form-control" type="text" id="unp-product-name"> -->
                                    <input id="title" v-model="tempProduct.title" type="text" class="form-control"
                                        placeholder="Please enter Product name" />
                                    <div class="form-text">Maximum 100 characters. No HTML or emoji allowed.</div>
                                </div>

                                <div class="mb-3 py-2">
                                    <label class="form-label" for="unp-product-tags">Product tags</label>
                                    <!-- <textarea class="form-control" rows="2" id="unp-product-tags"></textarea> -->
                                    <textarea class="form-control" rows="2" id="category" v-model="tempProduct.category"
                                        type="text" placeholder="Please enter the Product tags"></textarea>
                                    <div class="form-text">Up to 10 keywords that describe your item. Tags should all be
                                        in lowercase and separated by commas.</div>
                                </div>

                                <div class="col-12">
                                    <label for="unit" class="form-label">Product unit</label>
                                    <input id="unit" v-model="tempProduct.unit" type="text" class="form-control"
                                        placeholder="Please enter Unit" />
                                </div>

                                <div class="col-12">
                                    <label for="description" class="form-label">Product description</label>
                                    <textarea id="description" rows="4" v-model="tempProduct.description" type="text"
                                        class="form-control" placeholder="Please enter description"> </textarea>
                                </div>

                                <div class="col-12">
                                    <label for="content" class="form-label">Product content</label>
                                    <textarea id="content" rows="4" v-model="tempProduct.content" type="text"
                                        class="form-control" placeholder="Please enter content"> </textarea>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label" for="unp-standard-price">Standard license
                                            price</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="ci-dollar"></i></span>
                                            <!-- <input class="form-control" type="text" id="unp-standard-price"> -->
                                            <input id="origin_price" v-model.number="tempProduct.origin_price"
                                                type="number" min="0" class="form-control"
                                                placeholder="Please enter the Standard price" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label" for="unp-extended-price">Discount license
                                            price</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="ci-dollar"></i></span>
                                            <!-- <input class="form-control" type="text" id="unp-extended-price"> -->
                                            <input id="price" v-model.number="tempProduct.price" type="number" min="0"
                                                class="form-control" placeholder="Please enter the Discount price" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label for="imageUrl" class="form-label">Main image</label>
                                    <input id="imageUrl" v-model="tempProduct.imageUrl" type="text"
                                        class="form-control mb-2" placeholder="Please enter the Main image" />
                                    <img class="img-fluid" :src="tempProduct.imageUrl" />
                                </div>

                                <div class="col-12">
                                    <div class="group">
                                        <h3 class="mb-3">More image</h3>
                                        <button type="button" class="btn btn-outline-info btn-sm d-block w-100"
                                            @click="showUpdateImage()">Update
                                            Image</button>
                                    </div>
                                    <div v-if="Array.isArray(tempProduct.imagesUrl)">
                                        <div class="mb-1" v-for="(image, key) in tempProduct.imagesUrl" :key="key">
                                            <div class="mb-3">
                                                <label :for="`imagesUrl${key}`" class="form-label">image URL</label>
                                                <input :id="`imagesUrl${key}`" v-model="tempProduct.imagesUrl[key]"
                                                    type="text" class="form-control"
                                                    placeholder="Please enter the image URL" />
                                            </div>
                                            <img class="img-fluid" :src="image" />
                                        </div>
                                        <div
                                            v-if="!tempProduct.imagesUrl.length || tempProduct.imagesUrl[tempProduct.imagesUrl.length - 1]">
                                            <button class="btn btn-outline-primary btn-sm d-block w-100"
                                                @click="tempProduct.imagesUrl.push('')">
                                                New image
                                            </button>
                                        </div>
                                        <div v-else>
                                            <button class="btn btn-outline-danger btn-sm d-block w-100"
                                                @click="tempProduct.imagesUrl.pop()">
                                                Delete image
                                            </button>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <button class="btn btn-outline-primary btn-sm d-block w-100"
                                            @click="createImages">
                                            New image
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" type="submit" @click="updateProduct">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 刪除產品資料 -->
            <div id="delPM" ref="delPM" class="modal fade" tabindex="-1" aria-labelledby="delPMLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Delete product
                            </h5>

                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Whether to delete
                            <strong class="text-danger">{{ tempProduct.title }}</strong>
                            the product (it cannot be restored after deletion).
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger" type="submit" @click="delProduct">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 上傳照片資料 -->
            <div id="UPPC" ref="UPPC" class="modal fade" tabindex="-1" aria-labelledby="UPPCLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Update Image
                            </h5>
                            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        
                        <div class="modal-body">
                            <div class="col-12">
                                <label class="form-label" for="unp-product-files">Product files for sale</label>
                                <input class="form-control" type="file" accept="image/jpeg, image/png"
                                    id="unp-product-files" @change="UpdateImage">
                                <div class="form-text">Please note that only JPG, JPEG, and PNG formats are allowed,
                                    with a file size limit of 3MB or less.</div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" @click="copyImageUrl">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container pb-5 mb-2 mb-md-4">
                <div class="row">
                    <!-- Sidebar-->
                    <aside class="col-lg-4 pt-4 pt-lg-0 pe-xl-5">
                        <div class="bg-white rounded-3 shadow-lg pt-1 mb-5 mb-lg-0">
                            <div
                                class="d-md-flex justify-content-between align-items-center text-center text-md-start p-4">
                                <div class="d-md-flex align-items-center">
                                    <div class="img-thumbnail rounded-circle position-relative flex-shrink-0 mx-auto mb-2 mx-md-0 mb-md-0"
                                        style="width: 6.375rem;">
                                        <img class="rounded-circle" src="../img/shop/account/avatar.jpg"
                                            alt="Susan Gardner" />
                                        <span class="badge bg-warning position-absolute end-0 mt-n2"
                                            data-bs-toggle="tooltip" title="Reward points">384</span>
                                    </div>
                                    <div class="ps-md-3">
                                        <h3 class="fs-base mb-0">Susan Gardner</h3>
                                        <span class="text-accent fs-sm">s.gardner@example.com</span>
                                        <p class="fs-xs">ID:{{suid}}</p>
                                    </div>
                                </div>
                                <a class="btn btn-primary d-lg-none mb-2 mt-3 mt-md-0" href="#account-menu"
                                    data-bs-toggle="collapse" aria-expanded="false"><i class="ci-menu me-2"></i>Account
                                    menu</a>
                            </div>
                            <div class="d-lg-block collapse" id="account-menu">
                                <div class="bg-secondary p-4">
                                    <h3 class="fs-sm mb-0 text-muted">Seller Dashboard</h3>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    <li class="border-bottom mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3 active"
                                            href="../index.html">
                                            <i class="ci-package opacity-60 me-2"></i>Products
                                            <span class="badge bg-info fs-sm ms-auto" data-bs-toggle="tooltip"
                                                title="Reward points">{{ products.length }}</span>
                                        </a>
                                    </li>
                                </ul>

                                <div class="bg-secondary px-4 py-3">
                                    <h3 class="fs-sm mb-0 text-muted">Dashboard</h3>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    <li class="border-bottom mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3" href="#">
                                            <i class="ci-bag opacity-60 me-2"></i>Orders
                                            <!-- <span class="fs-sm text-muted ms-auto">1</span> -->
                                        </a>
                                    </li>

                                    <li class="mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3" href="#">
                                            <i class="ci-help opacity-60 me-2"></i>Support tickets
                                            <!-- <span class="fs-sm text-muted ms-auto">1</span> -->
                                        </a>
                                    </li>
                                </ul>
                                <div class="bg-secondary px-4 py-3">
                                    <h3 class="fs-sm mb-0 text-muted">Account settings</h3>
                                </div>
                                <ul class="list-unstyled mb-0">
                                    <li class="border-bottom mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3" href="#"><i
                                                class="ci-user opacity-60 me-2"></i>Profile info</a>
                                    </li>
                                    <li class="border-bottom mb-0">
                                        <a class="nav-link-style d-flex align-items-center px-4 py-3" href="#"
                                            @click="logout()"><i class="ci-sign-out opacity-60 me-2"></i>Sign out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>

                    <!-- Content  -->
                    <section class="col-lg-8">
                        <!-- Toolbar-->
                        <div class="d-flex justify-content-between align-items-center pt-lg-2 pb-4 pb-lg-5 mb-lg-3">
                            <div class="d-flex align-items-center"></div>
                            <a class="btn btn-primary btn-sm d-none d-lg-inline-block" href="#"><i
                                    class="ci-home me-2"></i>Shop Home</a>
                        </div>

                        <!-- Order Details Modal-->
                        <div class="modal fade" id="order-details">
                            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                <div class="modal-content">
                                    <template v-if="tempProduct.title">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Products No({{ tempProduct.id }})</h5>

                                            <!-- Info badge -->
                                            <span class="badge bg-info">{{ tempProduct.category }}</span>

                                            <button class="btn-close" type="button" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body pb-0">
                                            <!-- Item-->
                                            <div
                                                class="d-sm-flex justify-content-between mb-4 pb-3 pb-sm-2 border-bottom">
                                                <div class="d-sm-flex text-center text-sm-start">
                                                    <a class="d-inline-block flex-shrink-0 mx-auto" href="#"
                                                        style="width: 10rem;"><img :src="tempProduct.imageUrl"
                                                            alt="Product" /></a>
                                                    <div class="ps-sm-4 pt-2">
                                                        <h3 class="product-title fs-base mb-2">
                                                            <a href="#">{{ tempProduct.title }}</a>
                                                        </h3>
                                                        <div class="fs-sm"><span class="text-muted me-2">Unit:</span>{{
                                                            tempProduct.unit }}</div>
                                                        <div class="fs-sm"><span
                                                                class="text-muted me-2">Description:</span>{{
                                                            tempProduct.description }}</div>
                                                        <div class="fs-lg text-accent pt-2">
                                                            {{ tempProduct.content }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="pt-2 ps-sm-3 mx-auto mx-sm-0 text-center">
                                                    <div class="text-muted mb-2">Quantity:</div>
                                                    1
                                                </div>
                                            </div>
                                            <template v-for="(image, key) in tempProduct.imagesUrl" :key="key">
                                                <a class="d-inline-block flex-shrink-0 mx-auto" href="#"
                                                    style="width: 5rem;"><img v-if="image" :src="image"
                                                        :alt="`More Image ${key+1}`" alt="Product" /></a>
                                            </template>
                                        </div>
                                        <!-- Footer-->
                                        <div class="modal-footer flex-wrap justify-content-between bg-secondary fs-md">
                                            <div class="px-2 py-1"><span class="text-muted">Standard license
                                                    price:&nbsp;</span><span>${{ tempProduct.origin_price }}</span>
                                            </div>
                                            <div class="px-2 py-1"><span class="text-muted">Discount license
                                                    price:&nbsp;</span><span>${{ tempProduct.price }}</span></div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive fs-md mb-4">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th># Products</th>
                                        <th>Title</th>
                                        <th>Standard license price</th>
                                        <th>Discount license price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item) in products" :key="item.id">
                                        <td class="py-3">
                                            <a class="nav-link-style fw-medium fs-sm" href="#order-details"
                                                @click="openProduct(item)" data-bs-toggle="modal">{{ item.id }}</a>
                                        </td>
                                        <td class="py-3">{{ item.title }}</td>
                                        <td class="py-3">$&nbsp;<span>{{ item.origin_price }}</span></td>
                                        <td class="py-3">$&nbsp;<span>{{ item.price }}</span></td>
                                        <td class="py-3">
                                            <span v-if="item.is_enabled" class="badge bg-success m-0">Open</span>
                                            <span v-else class="badge bg-secondary m-0">Closed</span>
                                        </td>
                                        <td class="py-3">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success btn-sm"
                                                    @click="openModal('edit', item)">Edit</button>

                                                <button type="button" class="btn btn-danger btn-sm"
                                                    @click="openModal('delete', item)">Delete</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-end">
                            <button class="btn btn-primary" @click="openModal('new')">Submit new Products</button>
                        </div>
                        <!-- Pagination-->
                        <nav class="d-flex justify-content-between pt-2" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="ci-arrow-left me-2"></i>Prev</a>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item d-sm-none">
                                    <span class="page-link page-link-static">1 / 5</span>
                                </li>
                                <li class="page-item active d-none d-sm-block" aria-current="page">
                                    <span class="page-link">1<span class="visually-hidden">(current)</span></span>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item d-none d-sm-block">
                                    <a class="page-link" href="#">5</a>
                                </li>
                            </ul>
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">Next<i
                                            class="ci-arrow-right ms-2"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="footer bg-dark pt-5">
            <div class="container"></div>
            <div class="pt-5 bg-darker">
                <div class="container">
                    <div class="row pb-2">
                        <div class="col-md-6 text-center text-md-start mb-4">
                            <div class="text-nowrap mb-4">
                                <a class="d-inline-block align-middle mt-n1 me-3" href="#"><img class="d-block"
                                        src="../img/footer-logo-light.png" width="117" alt="Wearymask" /></a>
                            </div>
                            <div class="widget widget-links widget-light">
                                <ul
                                    class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
                                    <li class="widget-list-item me-4">
                                        <a class="widget-list-link" href="#">Outlets</a>
                                    </li>
                                    <li class="widget-list-item me-4">
                                        <a class="widget-list-link" href="#">Affiliates</a>
                                    </li>
                                    <li class="widget-list-item me-4">
                                        <a class="widget-list-link" href="#">Support</a>
                                    </li>
                                    <li class="widget-list-item me-4">
                                        <a class="widget-list-link" href="#">Privacy</a>
                                    </li>
                                    <li class="widget-list-item me-4">
                                        <a class="widget-list-link" href="#">Terms of use</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-center text-md-end mb-4">
                            <img class="d-inline-block" src="../img/cards-alt.png" width="187" alt="Payment methods" />
                        </div>
                    </div>
                    <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">
                        &copy; {{ currentYear }} All rights reserved. Made by Wearymask Studio
                    </div>
                </div>
            </div>
        </footer>
        <!-- Toolbar for handheld devices (Default)-->
        <div class="handheld-toolbar">
            <div class="d-table table-layout-fixed w-100">
                <a class="d-table-cell handheld-toolbar-item" href="../index.html">
                    <span class="handheld-toolbar-icon"><i class="ci-heart"></i></span><span
                        class="handheld-toolbar-label">Wishlist</span>
                </a>
                <a class="d-table-cell handheld-toolbar-item" href="javascript:void(0)" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" onclick="window.scrollTo(0, 0)">
                    <span class="handheld-toolbar-icon"><i class="ci-menu"></i></span><span
                        class="handheld-toolbar-label">Menu</span>
                </a>
                <a class="d-table-cell handheld-toolbar-item" href="../index.html">
                    <span class="handheld-toolbar-icon"><i class="ci-cart"></i>
                        <!-- <span class="badge bg-primary rounded-pill ms-1">4</span>-->
                    </span><span class="handheld-toolbar-label">Car</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll><span
            class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">
        </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="../vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="../vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- Main theme script-->
    <script src="../js/theme.min.js"></script>
    <script src="./products2.js" type="module"></script>
</body>

</html>